---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common dependencies
  apt:
    name:
      - htop
      - curl
      - gnupg
      - lsb-release
      - ca-certificates
      - apt-transport-https
      - software-properties-common
    state: present
